.pollingWrapper {
  background-color: #d2c7c7;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;

  h2 {
    color: #6d6d92;
  }
  .date {
    font-size: 10pt;
    color: #6d6d92;
    margin: 0;
  }
  .title {
    font-weight: bold;
    font-size: 16pt;
    margin: 0;
  }
  .choice-wrapper {
    margin: 30px 10px;
    a {
      background-color: #c15454;
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 10px;
      float: left;
      color: #FFF;
      cursor: pointer;

      &:nth-child(1) { background-color: red; }
      &:nth-child(2) { background-color: green; }
      &:nth-child(3) { background-color: purple; }
      &:nth-child(4) { background-color: blue; }
      &:nth-child(5) { background-color: orange; }
      &:nth-child(6) { background-color: black; }
    }
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
  .total-votes {
    font-size: 10pt;
  }
}

.pollingItem {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px dotted #000;

  .chart-wrapper,
  .content-wrapper {
    float: left;
  }
  .chart{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: yellow;
    margin: 20px auto;
  }
  .chart::before {
    content: '';
    display: block;
    margin-left: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    background: #655;
    transform-origin: left;
    transform: rotate(.1turn);
  }
  .content-wrapper {
    .date {
      margin: 0;
      color: #6c6971;
      font-weight: bold;
    }
    .title {
      margin: 0;
    }
  }
}